---
import { Image } from 'astro:assets';
import logo from '../images/yin-yang.svg';


const year = new Date().getFullYear();
const { settings } = Astro.props;
---
<footer>
	<div class="logo">
		<Image src={logo} alt="Queer shiatsu massage therapy in Montreal, Liminal Care Shiatsu" />
		<span>{settings.site_name}</span>
	</div>

	<p>
		Booking: <a href="https://cal.com/liminalcareshiatsu" target="_blank">cal.com/liminalcareshiatsu</a><br/>
		Email: {settings.email} <br/>
		Instagram: <a href="https://instagram.com/liminalcareshiatsu" target="_blank">@liminalcareshiatsu</a>

	</p>

	<small class="copyright">&copy; {year}, {settings.site_name}. </small>

	
</footer>

<style>

	footer {
		max-width: 800px;
		padding: 1rem 1rem .5rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		margin: 4rem auto 0;
	}
	.buttons{
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: 640px){
			display: block;
		}
	}
	.bottom{
		margin-top: 1rem;
		@media screen and (min-width: 400px){
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: end;
			
			.credits{
				text-align: right;
			}
		}
		
		small{ 
			display: block;
			line-height: 120%; 
		}	
	}




	.nav-logo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-logo img{
		width: 3.4rem;
		height: auto;
		margin-bottom: .16rem;
	}
	.nav-links {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
</style>
