---
// Components
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Import
import { SEO } from "astro-seo";

// Import fonts. See guide: https://docs.astro.build/en/guides/fonts/
import '@fontsource/biz-udmincho';


import '../styles/style.scss';

import { getEntry } from 'astro:content';

const settings = await getEntry('page', 'settings');

interface Props {
	title: string;
	description: string;
}


const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml"/>
		<meta name="generator" content={Astro.generator} />
		<SEO
		title={title || settings.data.site_title}
		description={settings.data.share_description || description}
		openGraph={{
			basic: {
			title: `${title}`,
			type: "website",
			image: `${settings.data.share_image}`,
			url: `${settings.data.site_url}`
			},
			optional: {
				description: `${settings.data.share_description}`,
				locale: "en",
			}
		}}
		extend={{
			link: [{ rel: "icon", href: "/favicon.ico" }],
			meta: [
			{
				name: "twitter:image",
				content: `${settings.data.share_image}`,
			}
			],
		}}
		/>
	</head>
	<body>
		<Header settings={settings.data}/>
		<slot  />
		<Footer settings={settings.data} />
	</body>
</html>
<style is:global lang="scss">

@use "../styles/base/vars" as *;
@use "../styles/base/mixins" as *;
@use "../styles/base/typography" as *;

// General --------------------------------------------------------------------------------------------------------------
body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.site{
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;

	@include is-max-tablet{
		padding: .2rem 1rem;
	}
}

.content{
	width: 100%;
}
	 
</style>